<div #homecomponent class="panel carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img
				src="../assets/Website Carousel.jpg"
				class="image-fit"
				style="width: 100%;"
				alt="..."
			/>
		</div>
		<a
			class="carousel-control-prev"
			href="#carouselExampleControls"
			role="button"
			data-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a
			class="carousel-control-next"
			href="#carouselExampleControls"
			role="button"
			data-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<div class="panel-item" style="right:0;z-index:2; margin:0; padding:0;">
			<nav class="navbar">
				<button
					(click)="toggleMenu()"
					class="navbar-toggler navbar-dark"
					type="button"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			</nav>
		</div>

		<div
			class="panel-item p-4 btn-main"
			[style.visibility]="showMenu ? 'visible' : 'hidden'"
			style="top:0.5em;right:5em;width:24%;"
		></div>
		<slide-horizontal
			#slidecomponent
			class="panel-item"
			style="top: 0px;padding-bottom:3.75%;display:block;"
			[direction]="infobarSlideDirection"
			style="width:17vw;height:32vw;padding-bottom: 3.75%"
		>
			<app-info-bar
				*ngIf="!stateService.getShowLogin() && !stateService.getShowRegister()"
			></app-info-bar>
		</slide-horizontal>
		<app-login-form *ngIf="stateService.getShowLogin()"></app-login-form>
		<app-register-form *ngIf="stateService.getShowRegister()"></app-register-form>
	</div>

	<div
		class="jumbotron"
		style="color:indigo;float:left;clear:left;border-left:4px solid indigo;border-right:4px solid indigo;padding-top:5%;padding-bottom:3%;margin-top:1%;border-radius: 20px 20px 20px 20px"
  >

		<h6 style="text-align:center;">
			Hi, we'd like to introduce you to a new broadcasting concept. An
			idea that has never been done before. We would love to introduce you
			to<b>... Radio Makany!</b><br /><br />
			Radio Makany is a radio station going around Egypt, and maybe even
			around the world! We also do sponsors and advertisement at
			competitive price points never seen before! So,<br /><br />
		</h6>

    <h4 style="text-align:center;">What's holding you back?!</h4>
	</div>
</div>
