<div class="cardList">
    <a class="cardListItem" href="https://www.facebook.com/Radiomakany/?modal=admin_todo_tour" target="_blank">
      <img src="../../assets/facebook.png" style="width: 100%;object-fit: fill;">
    </a>

    <a class="cardListItem" href="https://twitter.com/MakanyRadio?fbclid=IwAR33UXhJpnvOdPfn8pweoiLwvbPN7z-tEpDYqS-IOO20_4vUdOHtnajObRM"target="_blank">
      <img src="../../assets/twitter.png" style="width: 100%;object-fit: fill;">
    </a>
    <a class="cardListItem" href="https://www.instagram.com/radiomakany/?fbclid=IwAR3XzqPcqfKyl0YxFDSJfq5cqOF1oKh7rRiX0xa162DoCL6CwY5bN_RcISE" target="_blank">
      <img src="../../assets/instagram.png" style="width: 100%;object-fit: fill;">
    </a>
    <a class="cardListItem" href="https://www.youtube.com/channel/UC0PyaaHHcSg-SD5StoOmZYw?view_as=subscriber&fbclid=IwAR2bAxjTBbrAdMo-pb-gbXncyrDz5fUsxaKZAGRMZmQ5Tl5_QG7ULRHmFfM" target="_blank">
      <img src="../../assets/youtube.png" style="width: 100%;object-fit: fill;">
    </a>
    <a class="cardListItem" href="https://www.linkedin.com" target="_blank">
      <img src="../../assets/linkedin.png" style="width: 100%;object-fit: fill;">
  </a>
</div>


